package view

import "github.com/larek-tech/innohack/backend/internal/chat/model"

templ Message(response model.ResponseDto) {
	<div id="notifications" hx-swap-oob="beforeend">
		<div>
			New message received: { response.Description }
		</div>
	</div>
}
